#header {
    background-color: #b741f2;
    font-size: 20px;
    color: white;
}

#register-here {
    text-align: center;
}

#title {
    text-align: center;
    font-family: AKbalthom Kbach;
    color: #2975e8;
}

#lbl-input {
    color: black;
}

#btnLogin {
    background: #5087e0; 
    color: white; 
    border-radius: 20px;
    font-size: 20px;
}
